
lectures/characters/Agus.txt
lectures/characters/Aji.txt
lectures/characters/Akh_Va'quot.txt
lectures/characters/Akrah.txt
lectures/characters/Aliza.txt
lectures/characters/Amali.txt
lectures/characters/Ami.txt
lectures/characters/Amira.txt
lectures/characters/Anche.txt
lectures/characters/Anly.txt
lectures/characters/Ardin.txt
lectures/characters/Ariane.txt
lectures/characters/Armes.txt
lectures/characters/Ashai.txt
lectures/characters/Ashe.txt
lectures/characters/Aster.txt
lectures/characters/Aurie_Taamu.txt
lectures/characters/Axyl.txt
lectures/characters/Aya.txt
lectures/characters/Azu.txt
lectures/characters/Babi.txt
lectures/characters/Baddek.txt
lectures/characters/Bamboo.txt
lectures/characters/Banji.txt
lectures/characters/Bareeda_Naag.txt
lectures/characters/Bargoh.txt
lectures/characters/Barta.txt
lectures/characters/Baumar.txt
lectures/characters/Bayge.txt
lectures/characters/Bazz.txt
lectures/characters/Bedoli.txt
lectures/characters/Beedle.txt
lectures/characters/Benja.txt
lectures/characters/Benny.txt
lectures/characters/Bertri.txt
lectures/characters/Black_Bokoblin.txt
lectures/characters/Black_Hinox.txt
lectures/characters/Black_Lizalfos.txt
lectures/characters/Black_Moblin.txt
lectures/characters/Bladon.txt
lectures/characters/Blizzrobe.txt
lectures/characters/Bludo.txt
lectures/characters/Blue_Bokoblin.txt
lectures/characters/Blue_Hinox.txt
lectures/characters/Blue_Lizalfos.txt
lectures/characters/Blue_Moblin.txt
lectures/characters/Blynne.txt
lectures/characters/Bohrin.txt
lectures/characters/Bokoblin.txt
lectures/characters/Boldon.txt
lectures/characters/Bolson.txt
lectures/characters/Bosh_Kala.txt
lectures/characters/Botrick.txt
lectures/characters/Bozai.txt
lectures/characters/Branli.txt
lectures/characters/Breen.txt
lectures/characters/Brigo.txt
lectures/characters/Brokka.txt
lectures/characters/Bugut.txt
lectures/characters/Buliara.txt
lectures/characters/Cado.txt
lectures/characters/Calamity_Ganon.txt
lectures/characters/Calip.txt
lectures/characters/Calisa.txt
lectures/characters/Calyban.txt
lectures/characters/Cambo.txt
lectures/characters/Canni.txt
lectures/characters/Canolo.txt
lectures/characters/Cara.txt
lectures/characters/Cecili.txt
lectures/characters/Celessa.txt
lectures/characters/Chaas_Qeta.txt
lectures/characters/Chabi.txt
lectures/characters/chars_data.csv
lectures/characters/Cherry.txt
lectures/characters/Chessica.txt
lectures/characters/Chio.txt
lectures/characters/Chork.txt
lectures/characters/Chuchu.txt
lectures/characters/Chumin.txt
lectures/characters/Cima.txt
lectures/characters/Claree.txt
lectures/characters/Clavia.txt
lectures/characters/Cleff.txt
lectures/characters/Cloyne.txt
lectures/characters/Cotera.txt
lectures/characters/Cottla.txt
lectures/characters/Cree.txt
lectures/characters/Cursed_Bokoblin.txt
lectures/characters/Cursed_Lizalfos.txt
lectures/characters/Cursed_Moblin.txt
lectures/characters/Daag_Chokah.txt
lectures/characters/Dabi.txt
lectures/characters/Dagah_Keek.txt
lectures/characters/Dah_Hesho.txt
lectures/characters/Dah_Kaso.txt
lectures/characters/Dai.txt
lectures/characters/Daka_Tuss.txt
lectures/characters/Dako_Tah.txt
lectures/characters/Dalia.txt
lectures/characters/Damia.txt
lectures/characters/Danda.txt
lectures/characters/Danton.txt
lectures/characters/Dantz.txt
lectures/characters/Daqa_Koh.txt
lectures/characters/Daqo_Chisay.txt
lectures/characters/Dark_Beast_Ganon.txt
lectures/characters/Darton.txt
lectures/characters/Daruk.txt
lectures/characters/Dauntless.txt
lectures/characters/Dayto.txt
lectures/characters/Daz.txt
lectures/characters/Decayed_Guardian.txt
lectures/characters/Deltan.txt
lectures/characters/Dento.txt
lectures/characters/Dila_Maag.txt
lectures/characters/Dillie.txt
lectures/characters/Dina.txt
lectures/characters/Dinraal.txt
lectures/characters/Dmitri.txt
lectures/characters/Domidak.txt
lectures/characters/Dorian.txt
lectures/characters/Dorill.txt
lectures/characters/Dorrah.txt
lectures/characters/Douma.txt
lectures/characters/Dow_Na'eh.txt
lectures/characters/Drak.txt
lectures/characters/Dugby.txt
lectures/characters/Dunba_Taag.txt
lectures/characters/Dunma.txt
lectures/characters/Eighth_Heroine.txt
lectures/characters/Electric_Chuchu.txt
lectures/characters/Electric_Keese.txt
lectures/characters/Electric_Lizalfos.txt
lectures/characters/Electric_Wizzrobe.txt
lectures/characters/Emri.txt
lectures/characters/Ena.txt
lectures/characters/Endai.txt
lectures/characters/Epona.txt
lectures/characters/Eryck.txt
lectures/characters/Essa.txt
lectures/characters/Estan.txt
lectures/characters/Etsu_Korima.txt
lectures/characters/Falmark.txt
lectures/characters/Farosh.txt
lectures/characters/Fegran.txt
lectures/characters/Fin.txt
lectures/characters/Finley.txt
lectures/characters/Fire_Chuchu.txt
lectures/characters/Fire_Keese.txt
lectures/characters/Fire_Wizzrobe.txt
lectures/characters/Fireblight_Ganon.txt
lectures/characters/Flavi.txt
lectures/characters/Flaxel.txt
lectures/characters/Forest_Octorok.txt
lectures/characters/Frelly.txt
lectures/characters/Frita.txt
lectures/characters/Fronk.txt
lectures/characters/Frost_Pebblit.txt
lectures/characters/Frost_Talus.txt
lectures/characters/Fugo.txt
lectures/characters/Furosa.txt
lectures/characters/Fyson.txt
lectures/characters/Gaddison.txt
lectures/characters/Gaile.txt
lectures/characters/Galli.txt
lectures/characters/Garill.txt
lectures/characters/Garini.txt
lectures/characters/Garshon.txt
lectures/characters/Gartan.txt
lectures/characters/Gee_Ha'rah.txt
lectures/characters/Geggle.txt
lectures/characters/Genli.txt
lectures/characters/Gesane.txt
lectures/characters/Giro.txt
lectures/characters/Gleema.txt
lectures/characters/Glendo.txt
lectures/characters/Goflam.txt
lectures/characters/Golden_Bokoblin.txt
lectures/characters/Golden_Lizalfos.txt
lectures/characters/Golden_Lynel.txt
lectures/characters/Golden_Moblin.txt
lectures/characters/Goma_Asaagh.txt
lectures/characters/Gonguron.txt
lectures/characters/Gorae_Torr.txt
lectures/characters/Gotter.txt
lectures/characters/Grapp.txt
lectures/characters/Greta.txt
lectures/characters/Greyson.txt
lectures/characters/Gruve.txt
lectures/characters/Guardian_Scout_I.txt
lectures/characters/Guardian_Scout_II.txt
lectures/characters/Guardian_Scout_III.txt
lectures/characters/Guardian_Scout_IV.txt
lectures/characters/Guardian_Skywatcher.txt
lectures/characters/Guardian_Stalker.txt
lectures/characters/Guardian_Turret.txt
lectures/characters/Guy.txt
lectures/characters/Ha_Dahamar.txt
lectures/characters/Hagie.txt
lectures/characters/Haite.txt
lectures/characters/Harlow.txt
lectures/characters/Harry.txt
lectures/characters/Harth.txt
lectures/characters/Hawa_Koth.txt
lectures/characters/Heehl.txt
lectures/characters/Hestu.txt
lectures/characters/Hia_Miu.txt
lectures/characters/Hila_Rao.txt
lectures/characters/Hino.txt
lectures/characters/Hinox.txt
lectures/characters/Horned_Statue.txt
lectures/characters/Hoz.txt
lectures/characters/Huck.txt
lectures/characters/Hudson.txt
lectures/characters/Hunnie.txt
lectures/characters/Hylia.txt
lectures/characters/Ice_Chuchu.txt
lectures/characters/Ice_Keese.txt
lectures/characters/Ice_Wizzrobe.txt
lectures/characters/Igneo_Pebblit.txt
lectures/characters/Igneo_Talus.txt
lectures/characters/Igneo_Talus_Titan.txt
lectures/characters/Impa.txt
lectures/characters/Isha.txt
lectures/characters/Ishto_Soh.txt
lectures/characters/Ivee.txt
lectures/characters/Izra.txt
lectures/characters/Ja_Baij.txt
lectures/characters/Jana.txt
lectures/characters/Jee_Noh.txt
lectures/characters/Jengo.txt
lectures/characters/Jerrin.txt
lectures/characters/Jiahto.txt
lectures/characters/Jini.txt
lectures/characters/Jitan_Sa'mi.txt
lectures/characters/Jogo.txt
lectures/characters/Joloo_Nah.txt
lectures/characters/Jora.txt
lectures/characters/Joute.txt
lectures/characters/Juannelle.txt
lectures/characters/Jules.txt
lectures/characters/Juney.txt
lectures/characters/Ka'o_Makagh.txt
lectures/characters/Kaam_Ya'tak.txt
lectures/characters/Kabetta.txt
lectures/characters/Kachoo.txt
lectures/characters/Kah_Mael.txt
lectures/characters/Kah_Okeo.txt
lectures/characters/Kah_Yah.txt
lectures/characters/Kaifa.txt
lectures/characters/Kairo.txt
lectures/characters/Kalani.txt
lectures/characters/Kam_Urog.txt
lectures/characters/Kampo.txt
lectures/characters/Kaneli.txt
lectures/characters/Kanny.txt
lectures/characters/Kapson.txt
lectures/characters/Karin.txt
lectures/characters/Karsh.txt
lectures/characters/Karson.txt
lectures/characters/Kass.txt
lectures/characters/Katah_Chuki.txt
lectures/characters/Katosa_Aug.txt
lectures/characters/Katta.txt
lectures/characters/Kay_Noh.txt
lectures/characters/Kaya_Wan.txt
lectures/characters/Kayden.txt
lectures/characters/Kayra_Mah.txt
lectures/characters/Kaysa.txt
lectures/characters/Ke'nai_Shakah.txt
lectures/characters/Keeha_Yoog.txt
lectures/characters/Keese.txt
lectures/characters/Keh_Namut.txt
lectures/characters/Keive_Tala.txt
lectures/characters/Kema_Kosassa.txt
lectures/characters/Kema_Zoos.txt
lectures/characters/Kenyo.txt
lectures/characters/Keo_Ruug.txt
lectures/characters/Ketoh_Wawai.txt
lectures/characters/Keye.txt
lectures/characters/Kheel.txt
lectures/characters/Khini.txt
lectures/characters/Kiah_Toza.txt
lectures/characters/Kiana.txt
lectures/characters/Kihiro_Moh.txt
lectures/characters/Kilton.txt
lectures/characters/Kima.txt
lectures/characters/King_Dorephan.txt
lectures/characters/King_Rhoam.txt
lectures/characters/Kinov.txt
lectures/characters/Kish.txt
lectures/characters/Kodah.txt
lectures/characters/Kohm.txt
lectures/characters/Koko.txt
lectures/characters/Konba.txt
lectures/characters/Konora.txt
lectures/characters/Korgu_Chideh.txt
lectures/characters/Korsh_O'hu.txt
lectures/characters/Kotta.txt
lectures/characters/Kotts.txt
lectures/characters/Koyin.txt
lectures/characters/Krane.txt
lectures/characters/Kuh_Takkar.txt
lectures/characters/Kuhn_Sidajj.txt
lectures/characters/Kula.txt
lectures/characters/Kyra.txt
lectures/characters/Laflat.txt
lectures/characters/Laine.txt
lectures/characters/Laissa.txt
lectures/characters/Lakna_Rokee.txt
lectures/characters/Lanno_Kooh.txt
lectures/characters/Laroba.txt
lectures/characters/Laruta.txt
lectures/characters/Lashley.txt
lectures/characters/Lasli.txt
lectures/characters/Lawdon.txt
lectures/characters/Ledo.txt
lectures/characters/Leekah.txt
lectures/characters/Leena.txt
lectures/characters/Leop.txt
lectures/characters/Lester.txt
lectures/characters/Letty.txt
lectures/characters/Liana.txt
lectures/characters/Link.txt
lectures/characters/Lizalfos.txt
lectures/characters/Lonni.txt
lectures/characters/Loone.txt
lectures/characters/Lorn.txt
lectures/characters/Lukan.txt
lectures/characters/Lyndae.txt
lectures/characters/Lynel.txt
lectures/characters/Maag_Halan.txt
lectures/characters/Maag_No'rah.txt
lectures/characters/Maca.txt
lectures/characters/Magda.txt
lectures/characters/Maike.txt
lectures/characters/Maka_Rah.txt
lectures/characters/Makure.txt
lectures/characters/Malanya.txt
lectures/characters/Malena.txt
lectures/characters/Manny.txt
lectures/characters/Marot.txt
lectures/characters/Marta.txt
lectures/characters/Mary.txt
lectures/characters/Master_Kohga.txt
lectures/characters/Maypin.txt
lectures/characters/Mayro.txt
lectures/characters/Mazli.txt
lectures/characters/Medda.txt
lectures/characters/Meeshy.txt
lectures/characters/Meghyn.txt
lectures/characters/Mei.txt
lectures/characters/Mellie.txt
lectures/characters/Merina.txt
lectures/characters/Meteo_Wizzrobe.txt
lectures/characters/Mezza_Lo.txt
lectures/characters/Mijah_Rokee.txt
lectures/characters/Mils.txt
lectures/characters/Mimo.txt
lectures/characters/Mimos.txt
lectures/characters/Mina.txt
lectures/characters/Mipha.txt
lectures/characters/Mirro_Shaz.txt
lectures/characters/Misa.txt
lectures/characters/Misae_Suma.txt
lectures/characters/Misko.txt
lectures/characters/Mo'a_Keet.txt
lectures/characters/Moblin.txt
lectures/characters/Modar.txt
lectures/characters/Mogg_Latan.txt
lectures/characters/Moggs.txt
lectures/characters/Molduga.txt
lectures/characters/Molduking.txt
lectures/characters/Molli.txt
lectures/characters/Molo.txt
lectures/characters/Monari.txt
lectures/characters/Monk_Maz_Koshia.txt
lectures/characters/Monkton.txt
lectures/characters/Monya_Toma.txt
lectures/characters/Moza.txt
lectures/characters/Mozo_Shenno.txt
lectures/characters/Muava.txt
lectures/characters/Mubs.txt
lectures/characters/Muwo_Jeem.txt
lectures/characters/Muzu.txt
lectures/characters/Myahm_Agana.txt
lectures/characters/Myti.txt
lectures/characters/Nack.txt
lectures/characters/Naddon.txt
lectures/characters/Nali.txt
lectures/characters/Namika_Ozz.txt
lectures/characters/Nanna.txt
lectures/characters/Narah.txt
lectures/characters/Nat.txt
lectures/characters/Natie.txt
lectures/characters/Naydra.txt
lectures/characters/Nazbi.txt
lectures/characters/Ne'ez_Yohma.txt
lectures/characters/Nebb.txt
lectures/characters/Nekk.txt
lectures/characters/Nell.txt
lectures/characters/Nellie.txt
lectures/characters/Nikki.txt
lectures/characters/Nobiro.txt
lectures/characters/Nobo.txt
lectures/characters/Noe_Rajee.txt
lectures/characters/Notts.txt
lectures/characters/Noya_Neha.txt
lectures/characters/Numar.txt
lectures/characters/Oaki.txt
lectures/characters/Offrak.txt
lectures/characters/Old_Man.txt
lectures/characters/Oliff.txt
lectures/characters/Olkin.txt
lectures/characters/Ollie.txt
lectures/characters/Olu.txt
lectures/characters/Oman_Au.txt
lectures/characters/Onya.txt
lectures/characters/Owa_Daim.txt
lectures/characters/Ozunda.txt
lectures/characters/Padda.txt
lectures/characters/Padok.txt
lectures/characters/Palme.txt
lectures/characters/Parcy.txt
lectures/characters/Pasha.txt
lectures/characters/Patricia.txt
lectures/characters/Paya.txt
lectures/characters/Pearle.txt
lectures/characters/Peeks.txt
lectures/characters/Pelison.txt
lectures/characters/Pepp.txt
lectures/characters/Perda.txt
lectures/characters/Perosa.txt
lectures/characters/Phanna.txt
lectures/characters/Piaffe.txt
lectures/characters/Pikango.txt
lectures/characters/Pirou.txt
lectures/characters/Pitar.txt
lectures/characters/Ploka.txt
lectures/characters/Pokki.txt
lectures/characters/Pondo.txt
lectures/characters/Ponthos.txt
lectures/characters/Prima.txt
lectures/characters/Princess_Zelda.txt
lectures/characters/Prissen.txt
lectures/characters/Pritana.txt
lectures/characters/Pruce.txt
lectures/characters/Pumaag_Nitae.txt
lectures/characters/Purah.txt
lectures/characters/Pyle.txt
lectures/characters/Pyra.txt
lectures/characters/Qaza_Tokki.txt
lectures/characters/Qua_Raym.txt
lectures/characters/Quince.txt
lectures/characters/Qukah_Nata.txt
lectures/characters/Ralera.txt
lectures/characters/Ramella.txt
lectures/characters/Raqa_Zunzo.txt
lectures/characters/Reagah.txt
lectures/characters/Ree_Dahee.txt
lectures/characters/Reede.txt
lectures/characters/Reeza.txt
lectures/characters/Regan.txt
lectures/characters/Rensa.txt
lectures/characters/Revali.txt
lectures/characters/Rex.txt
lectures/characters/Rhodes.txt
lectures/characters/Rhondson.txt
lectures/characters/Riju.txt
lectures/characters/Rik.txt
lectures/characters/Rima.txt
lectures/characters/Rin_Oyaa.txt
lectures/characters/Ripp.txt
lectures/characters/Risa.txt
lectures/characters/Ritaag_Zumo.txt
lectures/characters/Rivan.txt
lectures/characters/Robbie.txt
lectures/characters/Robsten.txt
lectures/characters/Rock_Octorok.txt
lectures/characters/Rogaro.txt
lectures/characters/Rohan.txt
lectures/characters/Rohta_Chigah.txt
lectures/characters/Rok_Uwog.txt
lectures/characters/Rola.txt
lectures/characters/Romah.txt
lectures/characters/Rona_Kachta.txt
lectures/characters/Ronn.txt
lectures/characters/Roscoe.txt
lectures/characters/Rota_Ooh.txt
lectures/characters/Rotana.txt
lectures/characters/Rozel.txt
lectures/characters/Rucco_Maag.txt
lectures/characters/Rudi.txt
lectures/characters/Ruli.txt
lectures/characters/Russ.txt
lectures/characters/Ruvo_Korbah.txt
lectures/characters/Saas_Ko'sah.txt
lectures/characters/Sagessa.txt
lectures/characters/Sah_Dahaj.txt
lectures/characters/Saki.txt
lectures/characters/Sasa_Kai.txt
lectures/characters/Satty.txt
lectures/characters/Saula.txt
lectures/characters/Savelle.txt
lectures/characters/Sayge.txt
lectures/characters/Sebasto.txt
lectures/characters/Sefaro.txt
lectures/characters/Seggin.txt
lectures/characters/Seldon.txt
lectures/characters/Selmie.txt
lectures/characters/Senna.txt
lectures/characters/Sentry.txt
lectures/characters/Sesami.txt
lectures/characters/Seven_Heroines.txt
lectures/characters/Sha_Gehma.txt
lectures/characters/Sha_Warvo.txt
lectures/characters/Shabonne.txt
lectures/characters/Shada_Naw.txt
lectures/characters/Shae_Katha.txt
lectures/characters/Shae_Loya.txt
lectures/characters/Shae_Mo'sah.txt
lectures/characters/Shai_Utoh.txt
lectures/characters/Shai_Yota.txt
lectures/characters/Shaillu.txt
lectures/characters/Shamae.txt
lectures/characters/Shay.txt
lectures/characters/Shee_Vaneer.txt
lectures/characters/Shee_Venath.txt
lectures/characters/Sheem_Dagoze.txt
lectures/characters/Sheh_Rata.txt
lectures/characters/Sherfin.txt
lectures/characters/Shibo.txt
lectures/characters/Shira_Gomar.txt
lectures/characters/Sho.txt
lectures/characters/Sho_Dantu.txt
lectures/characters/Shoda_Sah.txt
lectures/characters/Shoqa_Tatone.txt
lectures/characters/Shora_Hah.txt
lectures/characters/Sidon.txt
lectures/characters/Silver_Bokoblin.txt
lectures/characters/Silver_Lizalfos.txt
lectures/characters/Silver_Lynel.txt
lectures/characters/Silver_Moblin.txt
lectures/characters/Sky_Octorok.txt
lectures/characters/Slergo.txt
lectures/characters/Smaude.txt
lectures/characters/Snow_Octorok.txt
lectures/characters/Soh_Kofi.txt
lectures/characters/Sophie.txt
lectures/characters/Sorelia.txt
lectures/characters/Spera.txt
lectures/characters/Spinch.txt
lectures/characters/Spoone.txt
lectures/characters/Sprinn.txt
lectures/characters/Stalizalfos.txt
lectures/characters/Stalkoblin.txt
lectures/characters/Stalmoblin.txt
lectures/characters/Stalnox.txt
lectures/characters/Stamm.txt
lectures/characters/Steen.txt
lectures/characters/Stone_Pebblit.txt
lectures/characters/Stone_Talus.txt
lectures/characters/Strade.txt
lectures/characters/Straia.txt
lectures/characters/Sudrey.txt
lectures/characters/Suma_Sahma.txt
lectures/characters/Sumati.txt
lectures/characters/Suzuna.txt
lectures/characters/Symin.txt
lectures/characters/Ta'loh_Naeg.txt
lectures/characters/Tah_Muhl.txt
lectures/characters/Tahno_O'ah.txt
lectures/characters/Takama_Shiri.txt
lectures/characters/Tali.txt
lectures/characters/Tamana.txt
lectures/characters/Tanko.txt
lectures/characters/Tasho.txt
lectures/characters/Tasseren.txt
lectures/characters/Tauma.txt
lectures/characters/Tawa_Jinn.txt
lectures/characters/Teake.txt
lectures/characters/Teba.txt
lectures/characters/Teebo.txt
lectures/characters/Teli.txt
lectures/characters/Tena_Ko'sah.txt
lectures/characters/Tenne.txt
lectures/characters/Tera.txt
lectures/characters/Thadd.txt
lectures/characters/The_Great_Deku_Tree.txt
lectures/characters/Tho_Kayu.txt
lectures/characters/Thunder_Wizzrobe.txt
lectures/characters/Thunderblight_Ganon.txt
lectures/characters/To_Quomo.txt
lectures/characters/Toffa.txt
lectures/characters/Toh_Yahsa.txt
lectures/characters/Tokk.txt
lectures/characters/Toma.txt
lectures/characters/Tona.txt
lectures/characters/Toren.txt
lectures/characters/Torfeau.txt
lectures/characters/Toto_Sah.txt
lectures/characters/Totsuna.txt
lectures/characters/Tottika.txt
lectures/characters/Tray.txt
lectures/characters/Traysi.txt
lectures/characters/Treasure_Octorok.txt
lectures/characters/Trello.txt
lectures/characters/Trissa.txt
lectures/characters/Trott.txt
lectures/characters/Tu_Ka'loh.txt
lectures/characters/Tula.txt
lectures/characters/Tulin.txt
lectures/characters/Tumbo.txt
lectures/characters/Tutsuwa_Nima.txt
lectures/characters/Tye.txt
lectures/characters/Uma.txt
lectures/characters/Urbosa.txt
lectures/characters/Varke.txt
lectures/characters/Verla.txt
lectures/characters/Vilia.txt
lectures/characters/Volcon.txt
lectures/characters/Voo_Lota.txt
lectures/characters/Wabbin.txt
lectures/characters/Wahgo_Katta.txt
lectures/characters/Walton.txt
lectures/characters/Water_Octorok.txt
lectures/characters/Waterblight_Ganon.txt
lectures/characters/Windblight_Ganon.txt
lectures/characters/WindowsPCHealthCheckSetup.msi
lectures/characters/Worten.txt
lectures/characters/Ya_Naga.txt
lectures/characters/Yah_Rin.txt
lectures/characters/Yaido.txt
lectures/characters/Yammo.txt
lectures/characters/Yiga_Blademaster.txt
lectures/characters/Yiga_Footsoldier.txt
lectures/characters/Yolero.txt
lectures/characters/Yowaka_Ita.txt
lectures/characters/Yunobo.txt
lectures/characters/Zalta_Wa.txt
lectures/characters/Ze_Kasho.txt
lectures/characters/Zooki.txt
lectures/characters/Zorona.txt
lectures/characters/Zumi.txt
lectures/characters/Zuna_Kai.txt
lectures/characters/Zuta.txt
lectures/characters/Zyle.txt
